body {
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
}

code {
  font-family: 'Trebuchet MS', sans-serif;
}

.section {
  display: flex;
  padding: 60px;
}

.heading {
  font-size: 100px;
  margin: 0;
}

.subheading {
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.wrapper {
  width: 700px;
}

.header-text {
  margin: 20px 0;
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.label {
  display: block;
  font-size: 20px;
  line-height: 39px;
  font-family: 'Trebuchet MS', sans-serif;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 49%;
  height: 50px;
  background-color: #7F2A3C;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

.button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.image {
  height: 400px;
  margin: auto;
}

.input {
  border: 5px solid #7F2A3C;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Trebuchet MS', sans-serif;
  width: 685px;
}

.output {
  margin: 0;
  line-height: 24px;
}

.result {
  margin-bottom: 10px;
}

.copy-button {
  margin-top: 10px;
  border: 1px solid #7F2A3C;
  border-radius: 5px;
  background-color: white;
  height: 24px;
}

.copy-button:hover {
  cursor: pointer;
  opacity: 0.6;
}